:root {
  --transition: cubic-bezier(0.22, 1, 0.36, 1);
  --font-text: 'Josefin Sans', sans-serif;
  --font-text-size: 16px;
  --black-0: #121212;
  --gray-1: #363636;
  --gray-2: #888888;
  --white-3: #CCCCCC;
  --white-4: #F5F5F5;
}

body {
  padding: 5rem;
  background: var(--white-4);
  color: var(--gray-1);
  height: auto;
  font-family: var(--font-text);
  font-size: var(--font-text-size);
}

h2,
h3 {
  color: var(--gray-1);
  font-weight: 700;
}

.grid {
  width: 100%;
  max-width: 60rem;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, 12rem);
  row-gap: 4rem;
  column-gap: 4rem;
  grid-auto-flow: row;
  opacity: 1;
  transition: 0.3s opacity var(--transition);
  justify-content: center;
}

.card {
  background-color: var(--black-0);
  grid-column: span 1;
  height: 10rem;
  padding: 1rem;
  position: relative;
  box-shadow: 0 .5rem 1rem rgb(0 0 0 / 20%);
  cursor: pointer;
  transition: 0.3s box-shadow var(--transition);
  border-radius: 0.5rem;
}

.card h3 {
  color: var(--white-4);
  margin: .2em;
}

/* .card:hover {
  transform: translateY(-.5rem);
} */

.card i {
  color: var(--white-4);
}

.card a {
  text-decoration: none;
  background-color: var(--white-4);
  color: var(--black-0);
  border: 1px solid var(--white-4);
  padding: .2em;

  transition: .03s transform ease-out;
}

a:hover {
  transform: translateY(-.5rem);
  /* box-shadow: 1px 1px 5px var(--white-3); */
}

.card__demo {
  position: absolute;
  right: 4rem;
  bottom: 1rem;
}

.card__code {
  position: absolute;
  right: 1rem;
  bottom: 1rem;
}

/* :root {
     --blue: #1e90ff;
     --white: #ffffff;
   }

 --cryptee-green: #1DB954;
    --cryptee-yellow: #F2B202;
    --cryptee-red: #CC0101;
    --cryptee-blue: #087284;
    --oled-safe-black: #080808;
    --cryptee-0: #121212;
    --cryptee-folder: #222222;
    --cryptee-1: #363636;
    --cryptee-2: #888888;
    --cryptee-3: #CCCCCC;
    --cryptee-4: #F5F5F5;
    
   

background: cryptee-4
font-color-text: cryptee-1
font-color-heading: crytee-1 (font-weight: 700)
font-color-captio-small-text: cryptee-2
footer: black 
footer-text: cryptee-4

text-font-family: 'Josefin Sans', sans-serif;
font-size: 16px; */